#ProductInfo{
    margin: 10% 0% 0% 5%;
    order: 2;
}
#ProductFlavour{
    order: 3;
    float: left;
    margin: 0;
    display: flex;
    width: 50%;
    margin-bottom: 5%;
}

#produto{
    height: auto;
    margin: 0;
    min-width: 100%;
    justify-content: center;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;}
    #produto img 
    { height: 35%;
    width: 60%; 
    padding: 0%;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 10% 0% 0% 0%;
    order: 1;
    }
#produto #img{
    margin: 5% 0%;
    min-width: 70%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons{
    margin-bottom: 2%;
}