@media (max-width: 992px) { 
    * {
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        box-sizing: border-box;
        position: relative;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .container-fluid .navbar-nav, .navbar-nav .nav-item
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    article, .description{
        display: flex;
        width: 100vw;
        float: none;
        margin: 0;
        position: static;
    }
    #sobre {order: 1;
    padding-bottom: 1.5vw;}
    article > h1 
    {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #produto img {
        min-width: 50%;
    }
    #produto {flex-wrap: nowrap;}
    article {order: 1; flex-wrap: wrap;}
    article ul
    {
    justify-content: space-between;
    display: flex;
    width: 90%;
    margin: auto;
    order: 1;
    }
   footer {padding-top: 1vw;}
    .description {
        order: 2;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        text-align: center;
    }
    li h2{font-size: 5vw;}
    li h3{font-size: 4vw;}
    #sabores{font-size: 3vw;}
    .description p, .description h1, .description h2, .description h4, div p, div h1, div h2, div .form-select{padding: 0%;}
    div p, div h1, div h2, div .form-select{
        position: relative;
        justify-content: center;
    }
}

@media (max-width: 800px){
    #produto img 
    { height: 35%;
    width: 60%; 
    padding: 0%;
    margin: 5% 20% 2% 20% ;
    position: relative;
    justify-content: center;
    }
    .buttons{
        position: relative;
        margin: 0% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 4;
    }
    button{
        margin:0% 0% 1% 1%;
        background-color: green;
        color: white;
        font-size: 2vw;
        width: 15vw;
    }
    #produto {flex-wrap: wrap;}
    #produto div {width: 100%; margin: 0%;}
    h1{font-size: 5vw;}
    h2, #sabores{font-size: 4vw;}
    label, .nav-item{font-size: 4vw;}
    h4{font-size: 3.5vw;}
    .description p{font-size: 3vw;}
    footer p, #sobre p{font-size: 2.5vw;}
    #sabores {height: 10vw;}
}
@media (min-width:1500px) {
    h1{font-size: 5vw;}
    h2, #sabores{font-size: 4vw;}
    label, .nav-item{font-size: 4vw;}
    #sobre p, .description p {font-size: 2vw;}
    footer p {font-size: 1.5vw;}
    h4{font-size: 3.5vw;}
    h4, .description h2, .description p {margin-bottom: 1vw;}
    #sabores{height: 6vw;}
    #produto img 
    { height: 35%;
    width: 60%; 
    padding: 0%;
    margin: 5% 20% 2% 20% ;
    position: relative;
    justify-content: center;
    }
    .buttons{
        position: relative;
        margin: 0% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 4;
    }
    button{
        margin:0% 0% 1% 1%;
        background-color: green;
        color: white;
        font-size: 2vw;
        width: 15vw;
    }
    #produto {flex-wrap: wrap;}
    #produto div {width: 100%; margin: 0%;}
}